.patients {
  background-color: rgba(238, 246, 248, 0.902);
}

.patientList {
  padding-left: 2px;
  margin:2px;
  border: 2px solid grey;
  border-radius: 20px;
  background-color: rgba(233, 241, 244, 0.902);;
}

ul {
  padding: 5px;
  text-align: center;
  position: relative;
}
