<mat-toolbar color="primary"><a [routerLink]="['']">Patient Management System</a></mat-toolbar>
<mat-tab-group class="patients">
  <mat-tab label="Patient">
    <ul>
      <li *ngIf="(patientDetails$ | async) as record"
      [ngClass]="checkDeceased(record)">
        <ul>
          <!-- check if given name is empty, if yes, use add. text to fill-->
          <div *ngIf="record.name[0].given">
            Name: {{ record.name[0].given }}
            <li *ngIf="record.name[0].text">
            Zusatz: {{ record.name[0].text }}
            </li>
          </div>
          <div *ngIf="!record.name[0].given">
            Name: {{ record.name[0].text }}
          </div>
        </ul>
        <ul *ngIf="record.name[0].family">
          Nachname: {{ record.name[0].family }}</ul>
        <ul *ngIf="record.birthDate">
          Geburtsdatum: {{ record.birthDate }}</ul>
          <ul *ngIf="record.gender">
            Geschlecht: {{ record.gender }}</ul>
          <ul *ngIf="record._gender">
            Geschlecht-Zusatz: {{ checkGender(record._gender) }}
          </ul>
          <ul *ngIf="record.deceasedDateTime">
            Sterbedatum: {{ getDate(record.deceasedDateTime) }}
          </ul>
        <details *ngIf="record.contact">
                <summary>Kontakte: </summary>
                <li *ngFor="let contact of record.contact"
                class="contacts">
                <!-- check if any names can be displayed -->
                <div *ngIf="contact.name">
                Nachname: {{ contact.name.family }}
                <div *ngIf="contact.name?.given">
                  Name: {{ contact.name?.given }}
                  <li *ngIf="contact.name?.text">
                  Zusatz: {{ contact.name?.text }}
                  </li>
                </div>
                <div *ngIf="!contact.name[0].given">
                  Name: {{ contact.name[0].text }}
                </div>
              </div>
              <!-- display organization if available -->
              <div *ngIf="contact.organization">
                Organisation: {{ contact.organization.display }}
              </div>
              <!-- display type of contact -->
                <div>
                  Art des Kontakts: {{ checkRelation(contact.relationship[0]) }}
                </div>
                </li>
        </details>
      </li>
    </ul>
  </mat-tab>
</mat-tab-group>
